<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

   <label><strong>Part Number</strong></label>
    <input class="form-control" type="text" formControlName="partNumber" [ngClass]="{ 'is-invalid': submitted && f.partNumber.errors }" />

    <div style="color: red;" *ngIf="submitted && f.partNumber.errors?.required" class="invalid-feedback">
      <div *ngIf="f.partNumber.errors?.required">
      <h5 style="color: red;"> Please enter Part Number </h5>
      </div>
    </div>
   <label>Dimensions</label> <input type="text" formControlName="dimensions">
   <label>Weight</label> <input type="text" formControlName="weight">
   <label>Type Of product</label> <input type="text" formControlName="typeOfProd">
   <label>Description</label> <input type="text" formControlName="description"> 
   <label>Image</label><input type="file" (change)="uploadDocument($event)" >
<button type="submit">Submit</button>


    </form>
    
  