<!DOCTYPE html>
<html lang="en">
  <title>Innova Polymers</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    .mySlides {
      display: none;
    }
  </style>

  
 
      <div class="navbar">

        <a href="#home" class="w3-bar-item w3-button w3-padding-large"
        >HOME</a
        >
        <a
        routerLink="/login"
        class="w3-bar-item w3-button "
        >LOGIN</a
        >
        <a
        href="/Product"
        class="w3-bar-item w3-button "
        >PRODUCTS</a
        >
        
      <a routerLink="/aboutUs" class="w3-bar-item w3-button">ABOUT US</a>
      <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
    
        
        <a
        href="javascript:void(0)"
         style="float: right;"
        ><img  style="height: 30px;width:40px" src="../../../assets/logo.png"></a>
    
    
    
    </div>
    <br>
    <br>
     

    <!-- Navbar -->
   
    <div class="background">
      <div
        class="w3-container w3-content w3-center w3-padding-64"
        style="max-width:800px"
        id="home"
      >
        <h2 style="color:white" class="w3-wide"><strong>INNOVA POLYMERS</strong></h2>

        <br />
        <p class="w3-opacity" style="color:white">
          <b> <i>Innovating on everystep</i></b>
        </p>
        <br />
        <p class="w3-center" style="color:white"><b>
          Transform the way of Polymers Production,
          Efficient and Clean, so your ideas have a home from conception to realization.</b>
        </p>
        <p class="w3-center" style="color:white">
          Create, collaborate, plan, mass produce and bring it to the world.
        </p>

        

        <div class="w3-row w3-padding-32">
          <div class="w3-third">
            <img
              src="../../../assets/home/product1.jpg"
              class="w3-round w3-margin-bottom"
              alt="Random Name"
              style="width:250px"
            />
          </div>
          <div class="w3-third">
            <img
              src="../../../assets/home/product2.jpg"
              class="w3-round w3-margin-bottom"
              alt="Random Name"
              style="width:250px"
            />
          </div>
          <div class="w3-third">
           <img
              src="../../../assets/home/product3.jpg"
              class="w3-round"
              alt="Random Name"
              style="width:250px"
            />
          </div>
        </div>
      </div>
    

<!--Footer-->
        
      <div class="bot-contact" style="color:whitesmoke;">
        <div class="row">
   <div class="col-md-6">
        <div class="map-img">
          <img src="../../../assets/images/map.png">
        </div>
        </div>
       
        <div class="col-md-6">
        <div class="info" id="contact">
          <h2>CONTACT US</h2>
          <i class="fa fa-map-marker" style="width:30px"></i>
          FARIDABAD,INDIA<br />
          <i class="fa fa-phone" style="width:30px"></i> Phone: +91 98737 20410<br />
          <i class="fa fa-envelope" style="width:30px"> </i> Email: innovapolymers.fbd@gmail.com<br />
        </div>
        </div>
    
      </div>
    </div>
    </div>


</html>
