body {
    margin: 0;
    overflow: hidden;
  }


  .bot-contact {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,3,61,1) 4%, rgba(7,45,12,1) 82%);
    height: 40vh;
    width:99vw;
    font-family: sans-serif;
    // position:bottom;
    bottom:20%;
    padding:20px;
    box-sizing: border-box;
    border-radius:1px;
    box-shadow: 5px 10px 18px rgb(1, 7, 85);
    display:flex;

  }
  .bot-contact .map-img {
    padding-left:100px;
    width:160px;
    height:180px;
    flex:0 0 150px;
    align-content:left;
  }
  .bot-contact .map-img img {
    max-width:160px;
  }
  .bot-contact .info{
    max-width:600px;
    text-align: right;
    padding-right: 20px;
    padding:10px;
  }

  
  .background {
    width: 100;
    height: 140vh;
    background-image: url("../../../assets/images/bg_img.jpg");
  }
  
  $particleSize: 20vmin;
  $animationDuration: 6s;
  $amount: 20;
  .background span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (
      #81971d,
      #E45A84,
      #FFACAC
    );
    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }
  
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }





// .carousel-section{
//   width: 100%;
//   height: 400px;
//   float: left;
//   margin-top: 60px;
// }

// .slider-image-section{
//   width: 100%;
//   height:480px;
//   float: left;
// }
.navbar {
  // overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
