<div  background="../../../assets/images/bg_img.jpg">

  <div class="navbar">

    <a href="#home" class="w3-bar-item w3-button w3-padding-large"
    >HOME</a
    >
    <a
    routerLink="/login"
    class="w3-bar-item w3-button w3-padding-large w3-hide-small"
    >LOGIN</a
    >
    <a
    href="/Product"
    class="w3-bar-item w3-button w3-padding-large w3-hide-small"
    >PRODUCTS</a
    >
    
  <a routerLink="/aboutUs" class="w3-bar-item w3-button">About Us</a>
  <a href="#contact" class="w3-bar-item w3-button">Contact</a>

    
    <a
    href="javascript:void(0)"
    class="w3-padding-large w3-hover-red w3-hide-small w3-right"
    ><img  style="height: 30px;width:40px" src="../../../assets/logo.png"></a>



</div>

<div class="main">
<p></p>
</div>

    <div class="background">
      <span>    </span>
      <span> </span>

    <div
        class="w3-container w3-content w3-center w3-padding-64"
        style="max-width:800px"
        id="home"
      >
        <h2 style="color:white" class="w3-wide"><strong>INNOVA POLYMERS</strong></h2>

        <br />
        <p class="w3-opacity" style="color:white">
          <b> <i>Innovating on everystep</i></b>
        </p>
        <br />
        <p class="w3-center" style="color:white"><b>
          Transform the way of Polymers Production,
          Efficient and Clean, so your ideas have a home from conception to realization.</b>
        </p>
        <p class="w3-center" style="color:white">
          Create, collaborate, plan, mass produce and bring it to the world.
        </p>
    </div>
  </div>
</div>