
  <div class="navbar">

    <a href="#home" class="w3-bar-item w3-button w3-padding-large"
    >HOME</a
    >
    <a
    routerLink="/login"
    class="w3-bar-item w3-button w3-padding-large w3-hide-small"
    >LOGIN</a
    >
    <a
    href="/Product"
    class="w3-bar-item w3-button w3-padding-large w3-hide-small"
    >PRODUCTS</a
    >
    
  <a routerLink="/aboutUs" class="w3-bar-item w3-button">ABOUT US</a>
  <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>

    
    <a
    href="javascript:void(0)"
    class="w3-padding-large w3-hover-red w3-hide-small w3-right" style="float: right;"
    ><img  style="height: 30px;width:40px" src="../../../assets/logo.png"></a>



</div>



    <div class="background" style="text-align: center;">
  

    <div
     
      >
        <h2 style="color:white"  ><strong>INNOVA POLYMERS</strong></h2>

        <br />
        <p class="w3-opacity" style="color:white">
          <b> <i>Innovating on everystep</i></b>
        </p>
        <br />
        <p class="w3-center" style="color:white"><b>
          Transform the way of Polymers Production,
          Efficient and Clean, so your ideas have a home from conception to realization.</b>
        </p>
        <p class="w3-center" style="color:white">
          Create, collaborate, plan, mass produce and bring it to the world.
        </p>
    </div>
  </div>
